.not-found-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.home-link {
  display: inline-block;
  margin-top: 10px;
  background-color: rgb(194, 194, 194);
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.15s ease;
}

.home-link:link {
  color: blue;
}

.home-link:visited {
  color: red;
}

.home-link:focus {
  color: black;
}

.home-link:hover {
  background-color: rgba(194, 194, 194, 0.5);
}
