/* About Section */
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.about-text {
  flex: 1;
}

.about-text p {
  text-align: justify;
}

.about-image {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.about-image img {
  width: 50%;
  height: auto;
  display: block;
  border-radius: 50%;
  box-shadow: 0px -10px 0px rgba(0, 0, 0, 0.1);
}
